{% use 'bootstrap_5_layout.html.twig' %}

{# Override form_label block to add asterisk for required fields #}
{% block form_label %}
    {% if required %}
        {{ parent() }} <span class="text-danger">*</span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock form_label %}
