{% extends 'base.html.twig' %}

{% block title %}Animal shelter!{% endblock %}

{% block body %}
    <h1>Welcome!</h1>

    <p>
        This is an Animal shelter website. You can register and start helping
        animals in need by taking them for a walk!
    </p>
{% endblock %}
