{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>

    {% if users is empty %}
        <p>No volunteers to be verified found...</p>
    {% endif %}
    {% for user in users %}
        <div class="card">
            <div class="card-body">
                user.email (user.name user.surname)
            </div>
        </div>
    {% endfor %}
{% endblock %}
