{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>

    {% if is_granted('ROLE_CARER') %}
        {% include '/admin/caregiver/menu.html.twig' %}
    {% else %}
        <a href="{{ path('admin_users') }}"
            class="btn btn-primary"
            role="button"
        >Users</a>
    {% endif %}
{% endblock %}
